<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Fuju">
        <meta name="author" content="Mainri">
        <title>Fuju Project</title>

        <!-- Bootstrap -->
        <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
        
        <!-- Custom styles for this template -->
        <link href="static/default.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container-fluid">
            <div class="header">
                <ul class="nav nav-tabs pull-right">
					<!--
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li> 
					
                    <li><a class="btn btn-default" href="/invitations">我的邀请</a></li>
					<li><button class="btn btn-default" data-toggle="modal" data-target=".bs-register-group-modal-lg">添加小伙伴</button></li>
					<li><a class="btn btn-default" href='/signout'>登出</a></li>
					-->
				
				<li {% if request.path == "/"%}class="active"{% endif %}><a href="/">首页</a></li>
				<li {% if request.path == url_for('invitations') %}class="active"{% endif %}><a href="/invitations">我的邀请</a></li>
				<li><a data-toggle="modal" data-target=".bs-register-group-modal-lg">添加小伙伴</a></li>
				<li><a href="/signout">登出</a></li>

                    
                </ul>
                <a href="/"><h3 class="text-muted">Fuju Project</h3></a>
            </div>
        </div><!--container for header ends --> 
        
		{% block content %} <!-- content goes here -->
		{% endblock %}
		
		
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="static/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
		<script src="static/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
        <script src="static/docs.min.js"></script>
    </body>
</html>