<html lang="en">
<head>
	<meta charset="utf-8">
    <title>蛋壳</title>
	
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="image/png" property="og:image:type">
    <meta content="601" property="og:image:width">
    <meta content="315" property="og:image:height">
    <link rel="stylesheet" href="static/css/84016c70c950.css" type="text/css" media="all">

  
            
    
    <!--[if lt IE 9]>
        <script src="https://brokerage-static.s3.amazonaws.com/assets/html5shiv/html5shiv.js"></script>
        <script src="https://brokerage-static.s3.amazonaws.com/assets/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body style="padding:150px">
    
<div id="content">
    
<div id="top_content">
    <div id="header">


        <div class="container text-center" id="lead_content">
			<!-- 
            <a href="/" id="logo_link">
                <img alt="Robinhood logo" class="downscale-fit" id="logo" src="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/home/logo_white.png" data-at2x="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/home/logo_white%402x.png">
            </a>
			-->
				
            <h1 class="robinhood-tagline light-text">
                <span id="robinhood_title">蛋壳</span> 3对3约会，
            </h1>
            <h2 class="robinhood-tagline light-text">
                让爱情破壳而出。
            </h2>

            <div id="waitlist_wrapper">
                
                <form action="/signin" class="form-inline"  method="post" role="form" novalidate="">
                    <input type="hidden" name="csrfmiddlewaretoken" value="7EUI5JVE3xDiebSS4C8dMikoBCAuyHwg" data-parsley-id="8191"><ul class="parsley-errors-list" id="parsley-id-8191"></ul>
                    <div class="form-group" id="waitlist_email_group">
                        <label class="sr-only" for="join_waitlist_email">Email address</label>
                        <input class="form-control input-lg waitlist-email"  id="join_waitlist_email" name="email" placeholder="输入学校邮箱" size="40" type="email">
                    </div>
                    <div class="form-group" id="waitlist_email_group">
                        <label class="sr-only" for="join_waitlist_email">Email address</label>
                        <input class="form-control input-lg waitlist-email" id="join_waitlist_email" name="password" type="password" placeholder="输入密码" size="40">
                    </div>
					
				   
                    <div class="form-group">
                        <button class="btn btn-lg btn-default" id="home_waitlist_button" type="submit">
                            登录
                        </button>
                    </div>
                </form>
                
            </div>

        </div>
    </div>
</div>

</div>


</body></html>