<html lang="en" class=" evernoteSafari"><head>
    <title>Fuju Project</title>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="image/png" property="og:image:type">
    <meta content="601" property="og:image:width">
    <meta content="315" property="og:image:height">
    <link rel="stylesheet" href="84016c70c950.css" type="text/css" media="all">

    <!--
    <link rel="stylesheet" href="https://brokerage-static.s3.amazonaws.com/assets/CACHE/css/84016c70c950.css" type="text/css" media="all">
        
        
    -->
            
    
    <!--[if lt IE 9]>
        <script src="https://brokerage-static.s3.amazonaws.com/assets/html5shiv/html5shiv.js"></script>
        <script src="https://brokerage-static.s3.amazonaws.com/assets/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body style="">
    





<div id="content">
    
<div id="top_content">
    <div id="header">


        <div class="container text-center" id="lead_content">
            <a href="/" id="logo_link">
                <img alt="Robinhood logo" class="downscale-fit" id="logo" src="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/home/logo_white.png" data-at2x="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/home/logo_white%402x.png">
            </a>
            <h1 class="robinhood-tagline light-text">
                <span id="robinhood_title">蛋壳</span> 3对3约会，
            </h1>
            <h2 class="robinhood-tagline light-text">
                让爱情破壳而出。
            </h2>

            <div id="waitlist_wrapper">
                
                <form action="/join_waitlist/" class="form-inline" data-parsley-validate="" id="join_waitlist_form" method="post" role="form" novalidate="">
                    <input type="hidden" name="csrfmiddlewaretoken" value="7EUI5JVE3xDiebSS4C8dMikoBCAuyHwg" data-parsley-id="8191"><ul class="parsley-errors-list" id="parsley-id-8191"></ul>
                    <div class="form-group" id="waitlist_email_group">
                        <label class="sr-only" for="join_waitlist_email">Email address</label>
                        <input class="form-control input-lg waitlist-email" data-parsley-error-message="!" data-parsley-required="true" data-parsley-trigger="change" data-parsley-type="email" id="join_waitlist_email" name="email" placeholder="Enter email address" size="40" type="email" data-parsley-id="3754"><ul class="parsley-errors-list" id="parsley-id-3754"></ul>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-default" id="home_waitlist_button" type="submit">
                            Get Early Access
                        </button>
                    </div>
                </form>
                
            </div>

        </div>
    </div>
</div>

</div>


</body></html>