		            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="">
		                <ol class="carousel-indicators">
		                     <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		                     <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
		                </ol>
		                <div class="carousel-inner">
		                    <div class="item active">
		           			 	<div class="carousel-caption">
			                        <div class="container-fluid">
			                            <div class="row">
										{% for i in range(length(pics)) %}
										<!-- ATTENTION: should not be more than 3 pics -->
			                                <div class="col-md-4">
												{% if pics[i] %}
													<img src="{{ pics[i] }}" class="img-polaroid img-responsive">
			                  		            {% else %}
			                  		            	<img class="img-circle" data-src="holder.js/210x210" alt="Generic placeholder image">
												{% endif %}
			                                    <p>{% dess[i] %}</p>
			                                </div>
											
										{% endfor %}

				                        <div class="row">
											<div class="col-md-12 ">
				                            	<p>
													<button class="btn btn-primary" data-toggle="modal" data-target=".bs-register-modal-lg">Request</button>
												</p>
											</div>

											 
				                        </div>	
			                        </div> <!-- Container for the item ends -->
								</div><!-- Caption ends--> 
		                    </div><!-- Item ends -->
                 
                
		                </div>
		                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		                    <span class="glyphicon glyphicon-chevron-left"></span>
		                </a>
		                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		                    <span class="glyphicon glyphicon-chevron-right"></span>
		                </a>
					</div>
				