			<header id="home" class="jumbotron">
				<div id="sequence-theme">
			
					<div id="sequence">

						<ul class="controls">
							<li class="sequence-prev"><i class="fa fa-angle-left fa-fw"></i></li>
							<li class="sequence-next"><i class="fa fa-angle-right fa-fw"></i></li>
						</ul>

						<ul class="sequence-canvas container-fluid">
						{% for group in groups %}
							{% set pics = [group.pic1, group.pic2, group.pic3] %}
							{% set dess = [group.des1, group.des2, group.des3] %}
							<li>
								<div class="container-fluid" style="left: 15%; right: 15%; top:7%">
									<div class="row">
										<!-- ATTENTION: should not be more than 3 pics -->
										<div class="col-md-4 in-from-top fast">
											<img src="{{ img_path + pics[0] }}" class="img-thumbnail img-responsive">
											<p>{{ dess[0] }}</p>
										</div>
										<div class="col-md-4 in-from-top fast delay1">
											<img src="{{ img_path + pics[1] }}" class="img-thumbnail img-responsive">
											<p>{{ dess[1] }}</p>
										</div>
										<div class="col-md-4 in-from-top fast delay2">
											<img src="{{ img_path + pics[2] }}" class="img-thumbnail img-responsive">
											<p>{{ dess[2] }}</p>
										</div>
			                        </div> <!-- Row ends-->
								
								
								<!-- Row starts -->
								
			                        <div class="row">
										<div class="col-md-4 col-md-offset-5 ">

			                            	<p>
											{% set meeting = find_meeting(user_group.id, group.id) or find_meeting(group.id, user_group.id) if user_group else None%}
											{% if meeting %}
										
												{# message part #}
												{% set target = '/modifymeeting/%d' % group.id %}
												{# <h3>私聊</h3><pre>{{ meeting.message }}</pre> #}
										
												{% if meeting.group1_id == group.id %}
													<a class="btn btn-qubico white scrollto" data-toggle="modal" href="{{ url_for('get_modal', meeting_id=meeting.id, target='/modifymeeting/%d' % group.id )}}" data-target="#myModal">他们已邀请你们，留言</a>
													{% if meeting.status == 0 %}
													<a class="btn btn-qubico white scrollto" href={{"/modifymeeting/%d?action=accept" % group.id}}>接受邀请</a>
													{% else%}
													<a class="btn btn-qubico white scrollto" disabled="disabled">已接受邀请</a>
													{% endif%}
												{% else %}
													<a class="btn btn-qubico white scrollto" data-toggle="modal" href="{{ url_for('get_modal', meeting_id=meeting.id, target='/modifymeeting/%d' % group.id )}}" data-target="#myModal">留言</a>
												{% endif %}
										
											{% else %}
												{% if group.user.id != user.id %}
													<a class="btn btn-qubico white scrollto" data-toggle="modal" href="{{ url_for('get_modal', target='/requestmeeting/%d' % group.id )}}" data-target="#myModal">发出邀请</a>
													
												{% else %}

													<a class="btn btn-qubico white scrollto" disabled="disabled">自己</a>
												{% endif %}
										

											{% endif %}
											</p>
										</div> <!-- col-md-12 ends -->				 
			                        </div> <!-- Row ends-->
								</div><!-- Container ends-->
							</li>
						{% endfor %}
							
							
						</ul>
					</div>
				</div>
			</header><!--End header -->
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:100px;">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				                 <h4 class="modal-title">Modal title</h4>

				            </div>
				            <div class="modal-body"><div class="te"></div></div>
				            <div class="modal-footer">
				                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				            </div>
				        </div>
				        <!-- /.modal-content -->
				    </div>
				    <!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
			