		            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="">
		                <ol class="carousel-indicators">
						{% for group in groups %}
							{% if loop.index0 == 0 %}
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							{% else %}
								<li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}" class=""></li>		       
		                    {% endif %}
						{% endfor %}
		                </ol>
		                <div class="carousel-inner">
						{% for group in groups %}
							{% set pics = [group.pic1, group.pic2, group.pic3] %}
							{% set dess = [group.des1, group.des2, group.des3] %}

                            
                            {% if loop.index1 == index_group_id%}
		                    <div class="item active">
                            {% else%}
                            <div class="item">
                            {% endif %}
		           			 	<div class="carousel-caption">
			                        <div class="container-fluid">
			                            <div class="row">
                                            
										{% for i in range(3) %}
										<!-- ATTENTION: should not be more than 3 pics -->
			                                <div class="col-md-4">
												{% if pics[i] and pics[i] != '' %}
													<img src="{{ img_path + pics[i] }}" class="img-polaroid img-responsive">
			                  		            {% else %}
			                  		            	<img class="img-circle" data-src="holder.js/210x210" alt="Generic placeholder image">
												{% endif %}
			                                    <p>{{ dess[i] }}</p>
			                                </div>
											
										{% endfor %}

				                        <div class="row">
											<div class="col-md-12 ">

				                            	<p>

												{% if meeting %}
													
													{# message part #}
													{{ set target = '/'}}
													<h3>留言</h3>
													<p>
														{{ meeting.message }}
													</p>
													{% if meeting.group1_id == group.id %}
														<button class="btn btn-default" data-toggle="modal" data-target=".bs-add-message-modal-lg">他们已邀请你们，添加留言</button>
														<a class="btn btn-primary" href="/?action=accept">接受邀请</a>
													{% else %}
														<button class="btn btn-primary" data-toggle="modal" data-target=".bs-add-message-modal-lg">你们已邀请他们，添加留言</button>
													{% endif %}
													
												{% else %}
													{{ set target_action = '/requestmeeting/%d' % group.id}}
													<button class="btn btn-primary" data-toggle="modal" data-target=".bs-add-message-modal-lg">发出邀请</button>
												{% endif %}
												</p>
											</div>

											 
				                        </div>	
			                        </div> <!-- Container for the item ends -->
								</div><!-- Caption ends--> 
		                    </div><!-- Item ends -->
                 		  
                		{% endfor %}
		                </div>
		                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		                    <span class="glyphicon glyphicon-chevron-left"></span>
		                </a>
		                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		                    <span class="glyphicon glyphicon-chevron-right"></span>
		                </a>
					</div>
					
					<!-- add message modal -->
					<div class="modal fade bs-add-message-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
					    <div class="modal-dialog modal-lg">
					      <div class="modal-content">

					      	<div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					          <h3 class="modal-title" id="myLargeModalLabel">写留言</h3>
					        </div>
					        <div class="modal-body">
								<!-- Post message form starts -->
								<form role="form" action="{{target}}" method='post'>
								    <div class="form-group">
		                                <input type="text" class="form-control" name="message" placeholder="写点什么。">
										<input type="hidden" class="form-control" name="action" value="addmessage">      
								    </div>
								    <button type="submit" class="btn btn-default">提交</button>
								</form><!-- Post message form ends -->
					        </div>
					      </div><!-- /.modal-content -->
					    </div><!-- /.modal-dialog -->
					</div><!-- Modal div ends -->
				