{% extends "base.html" %}
{% block content %}

		<div class="container-fluid">
			{% for group in groups %} {# one user might have multiple groups#}
				{% set group_meetings_in = meetings_in[loop.index0] %}
				{% set group_meetings_out = meetings_out[loop.index0] %}
				<div class="panel panel-info">
					<div class="panel-heading">
					        <h3 class="panel-title"><a href="{{ url_for('index', group_id=group.id) }}">收到的邀请</a></h3>
					</div>
					<ul>
               	 		{% for meeting in group_meetings_in %}
						<li><a href="{{ url_for('index', group_id=meeting.group1_id) }}">组合{{meeting.group1_id}} {{"（已接受）" if meeting.status}}</a></li>
						{% endfor %}
					</ul>
				</div> <!-- Panel ends -->
				<div class="panel panel-info">
					<div class="panel-heading">
					        <h3 class="panel-title"><a href="{{ url_for('index', group_id=group.id) }}">发出的邀请</a></h3>
					</div>
					<ul>
	               	 	{% for meeting in group_meetings_out %}
						<li><a href="{{ url_for('index', group_id=meeting.group2_id) }}">组合{{meeting.group2_id}}</a></li>
						{% endfor %}
					</ul>
				</div> <!-- Panel ends -->
					
			{% endfor %}


		</div> <!-- Main container ends -->     
		
		<!-- Forms go here -->
		
        

		
{% endblock %}
		
		<!-- Forms end here  -->