        
		<div class="registration">
			<div class="modal fade bs-register-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none; text-align:left;">
			    <div class="modal-dialog modal-lg">
			      <div class="modal-content">

			      	<div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			          <h3 class="modal-title" id="myLargeModalLabel">注册</h3>
			        </div>
			        <div class="modal-body">
                        {% include "security/register_user.html" %}
			        </div>
			      </div><!-- /.modal-content -->
			    </div><!-- /.modal-dialog -->
			</div><!-- Model div ends -->
		</div> <!-- Registration ends -->
