/* DEBUG
-------------------------------------------------- */



/* CUSTOMIZE THE HEADER
-------------------------------------------------- */

.header {
  padding-bottom: 20px;

}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 20px;
  position: relative;
  
}


/* Declare heights because of positioning of img element */
.carousel .item {
/*  height: 1000px; */
    min-height: 900px;
/*  background-color: #FFF; */
}

.carousel-caption {
	padding-top: 100px;
	bottom: auto;
	color: #666;
	height:auto;
}

.carousel-inner  .item  img {

}